.body {
    -fx-background-color: #097b87;
}
.label {
    -fx-font: 16px arial;
}
/* BUTTON */
.button {
   -fx-background-color: #b3dee3;
   -fx-text-fill: #097b87;
   -fx-font: bold 14px arial;
   -fx-cursor: pointer;
}
.button:hover {
    -fx-background-color: #a2cdd2;
}

/*ERROR*/
.error {
    -fx-font: 16px arial !important;
    -fx-text-fill: #ff000d !important;
}